@import '../../styles/colors';

.scanUrlBody {
	margin-top: 70px;

	.h1centerV {
		color: $color2;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.th {
		background-color: $color5;
		color: $color3;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font: {
			weight: bold;
			size: 1em;
		}
		.r2 {
			font-size: small !important ;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}

	.rowTable {
		background-color: white;
		color: black;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-size: small;
		.r2 {
			font-size: small !important ;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}

	.KW {
		text-align: left !important;
	}

	.TrashCanIcon {
		stroke: $color5;
		width: 20px;
		height: auto;
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.TrashCanIcon:hover {
		stroke: $color1;
	}
}
