@import '../../styles/colors';

.NavBo {
	font-weight: bold;
	color: $color3 !important;
	border: 1px solid $color3;
	backdrop-filter: blur(5px);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.NavBo:hover {
	color: $color5 !important;
	border: 1px solid $color5;
}

.activeN {
	transform: scale(1.05);
	color: $color2 !important;
	border: 2px solid $color2;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.activeB {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}
